@use 'sass:map';
@import '../../ScssStyles/variables';

//$btn-bg : $primary;
$input-bg : white;


@each $name, $color in $colors {
  .Button-#{$name}{
    // @if $color == 'darkgray'{
    //   color:white;
    // }@else{
    //   color:black;
    // }  
    color:white;
    border-radius: 6px;
    padding: 5px;
    margin: 3px;
    border: 0px;
    font-size: medium;
    $btn-bg:$color;
    background-color: $btn-bg;
    .children{
      transition: all .1s;
    }
    &:hover{
      background-color: darken($color: $btn-bg, $amount: 10%);
      .children{
        transform: translateY(-2px);
        filter: drop-shadow(0px 4px 1px black);
      }
    }
    &:active{
      background-color: darken($color: $btn-bg, $amount: 20%);
    }
    transition: background-color .2s;
  }
}


@each $name, $color in $colors {
  .Input-#{$name}{
    color:white;
    border-radius: 3px;
    padding: 5px;
    border: 0px;
    font-size: medium;
    $input-bg:$color;
    background-color: $input-bg;
    &:focus{
      outline: unset;
    }
    &::placeholder{
      color:lightgray;
    }
    transition: background-color, outline .2s;
    option{
      background-color: $input-bg;
      color: white;
      border: 0px;
    }
    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }
}

